body {
	text-align: center;
}

#box {
	height: 200px;
	width: 200px;
	background: #fc3;
	margin: 0 auto;
	text-align: center;
	line- height: 200px;
	}

.thing {
	height: 200px;
	width: 200px;
	background: #ac3;
	margin: 20px auto;
	text-align: center;
	line-height: 200px;
	border-top-left-radius: 200px;
}

button{
	background: #933;
	color: white;
	padding: 10px;
	border: solid 2px black;
	border-radius: 5px;
	font-sie: 18px;
}

/* -------------------------
	STYLES FOR JQUERY CHAINING
_______________________ */

.notification {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	background: black;
	color: white;
	text-align: center;
	padding: 30px;
}

.notification {
	color: #fc3;
}


/* ---------------------------------
	JQUERY ANIMATE LECTURE
---------------------------------- */
#navigate {
	position: relative;
	width: 150px;
	height: 150px;
	margin: 100px auto 0;
	background: #444;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: : 100px;
	padding: 20px;	
}

.navigationArrow {
	width: 50px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	top: 20px;
	left: 20px;
	color: #222;
}

#up {
	left: 50%;
	margin-left: -25px;
}

#left, #right{
	top: 50%;
	margin-top: -25px;
}

#right {
	right: 20px;
	left: inherit;
}

#down {
	bottom: 20px;
	top: inherit;
	left: 50%;
	margin-left: -25px;	
}


.box{
	height: 100px;
	width: 100px;
	background: #a3b;
	color: white;
	margin: 100px auto ;
	border: solid 5px #a1b;
	line-height: 100px;
	opacity : 10;
	position: relative;
	
}











